.navbar {
    .regular {
        height: 100px;
        display: flex;
        padding: 0rem 4rem 0rem 4rem;
        align-items: center;

        .logo {
            img {
                object-fit: contain;
                width: 100%;
            }
            margin-right: 16px;
        }

        .bu {
            font-size: 24px;
            margin-left: 16px;
            margin-right: 16px;

            span {
                color: #cc0000;
            }
        }

        .space {
            flex: 1;
        }

        .links {
            display: flex;
            justify-content: flex-end; 

            .link {
                background-color: white;
                border-radius: 0.6rem;
                cursor: pointer;
                color: black;
                padding: 0.6rem 1rem;
                margin-right: 1rem;
                white-space: nowrap; 
            }
        }

        @media screen and (max-width: 767px) {
            padding: 1rem;
            width: 100vw;

            .bu {
                font-size: 28px;
            }

            .logo {
                img {
                    width: 72px;
                    height: 72px;
                }
            }

            .links {
                .link {
                    font-size: 14px;
                    padding: 0.4rem 0.8rem;
                }
            }
        }
    }
}

