.container {
  padding: 20px;
}

.main {
  display: flex;
}

.leftSide {
  width: 50vw;
  max-width: 800px;
  padding-right: 20px;
  margin-top: 6vh;
  margin-left: 5vw;

  h1 {
    font-size: calc(1rem + 0.7vw);
    margin-bottom: 2vh;
  }
}

.dashboard {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.sectionTitleMember {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  button{
    margin-left: 1vw;
  }

  .input{
    margin-left: 1vw;
  }
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button, .removeButton {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-size: 14px;
}

.button {
  background-color: white;
  color: black;

  &:hover {
    background-color: #f0f0f0;
  }
}

.removeButton {
  background-color: #d00404;
  color: white;

  &:hover {
    background-color: #ff0000;
  }
}

.membersList {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
}

.member {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.memberName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.memberAddress {
  font-family: monospace;
}

.input {
  flex-grow: 1;
  background-color: #222;
  color: white;
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;

  &::placeholder {
    color: #888;
  }

  &:focus {
    outline: none;
    border-color: #666;
  }
}
