@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen Mono', monospace;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




.Toastify__toast--error {
  background-color: #cc0000 !important;
}

/* Override Rainbow Kit styles for mobile */
@media (max-width: 800px) {
  .iekbcc0 {
    width: 100% !important;
    max-width: none !important;
  }

  .iekbcc0 > div {
    width: 100% !important;
  }

  .iekbcc0 button {
    width: 100% !important;
    max-width: none !important;
  }
}
